.jumbotron {
	background-image: url("https://ibhuluimcom-a.akamaihd.net/ib.huluim.com/show/23107?region=US&size=952x536");
    background-blend-mode: lighten;
    background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	margin-bottom: 0px;
    text-align: center;
}

.jumbotron h1 {
	font-family: 'Harrington', serif;
	font-size: 150px;
	text-transform: uppercase;
	font-weight: 900;
	color: black;
}

.jumbotron p {
	font-family: 'Harrington', sans-serif;
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
}